<div class="colour-chip">
  <div class="swatch" style="background-color:{{include.hex}};"></div>
  <p class="name">{{include.name}}</p>
  <p class="value">{{include.hex}}</p>
  <p class="value">rgb({{include.rgb}})</p>
</div>
