@import url('https://www.melbourne.vic.gov.au/system/fonts/507562/6077FCBC25F113DD6.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css');

//VARIABLES
$topnavbar-height: 50px;//WHITES

//COLORS

$color-white: #FFFFFF;

//PRIMARY
$color-primary-blue: #277BB4;
$color-primary-green: #008850;
$color-primary-red: #E50E56;

//SECONDARY
$color-secondary-blue: #244566;

//GRAYS
$color-light-gray: #F2F3F4;
$color-silver-gray: #D4D6DB;
$color-gray: #989EAB;
$color-medium-gray: #5D616C;
$color-dark-gray: #3C404B;

//BLACKS
$color-vanta-black: #000000;
$color-super-black: #080809;
$color-carbon-black: #23242B;


html, body {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial';
    font-size: 14px;
    background-color: $color-light-gray;
    color: $color-carbon-black;
    line-height: 1.5;
    overflow-y: hidden;
}


//h5 { }
//h6 { }

nav.navbar {
  background-color: $color-carbon-black;
  height: $topnavbar-height;
}

.navbar-item.brand-text {
  font-weight: 300;
}

.navbar-item, .navbar-link {
  font-size: 14px;
  font-weight: 700;
}

.content-columns {
  height: 100%;
  overflow-y: hidden;
}

.menu,
.main-container {
  height: 100%;
  overflow-y: scroll;
}

.main-container {
  background-color: $color-white;
  padding: 0 2em 2em 2em;
}

.menu {
	background-color: $color-silver-gray;
}

.menu-container {
  margin-bottom: 1em;
}

.menu-section {
  font-size: 14px;
  color: $color-vanta-black;
  background: $color-gray;
  font-weight: 500;
  padding: 0.7em;
}

.menu-item,
.menu-item a {
  width: 100%;
}

.menu-item a {
  font-size: 14px;
  padding: 0.7em 1.4em;
  display: block;
  color: $color-vanta-black;
}

.menu-item a.is-active {
  background-color: $color-primary-blue;
  color: $color-white;
}

.menu-item a.is-active::before {
  content: ">";
}

.menu-item a:hover {
  background-color: $color-white;
  text-decoration: underline;
  color: $color-carbon-black ;
}

.markdown {
  p {
    margin-bottom: 1em;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 1em 0;
    line-height: 2.5;
  }

  h1 {
    font-size: 30px;
    font-weight: normal;
    color: $color-secondary-blue;
    border-bottom: 2px solid $color-silver-gray;
  }

  h2 {
    font-size: 20px;
    color: $color-carbon-black;
    border-bottom: 1px solid $color-silver-gray;
    font-weight: bold;
  }

  h3 {
    font-size: 16px;
    color: $color-carbon-black;
    font-weight: normal;
  }

  h4 {
    font-size: 14px;
    color: $color-carbon-black;
    font-weight: normal;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
}

.markdown .design-system * {
  // reset stuff for html within markdown
  margin: 0; padding: 0; border: 0; box-sizing: border-box; line-height: 1.2;
}

// live examples
.design-system {
  .colour-chip {
    display: inline-block;
    width: 160px;
    margin: 1em 1em 1em 0;
    border-radius: 4px;
    border: 1px solid $color-silver-gray;
    overflow: hidden;

    .swatch {
      height: 100px;
      width: auto;
    }

    .name,
    .value {
      margin: 0.5em;
    }

    .name {
      color: $color-vanta-black;
      font-weight: bold;
    }

    .value {
      color: $color-medium-gray;
    }
  }
}