@import url('https://www.melbourne.vic.gov.au/system/fonts/507562/6077FCBC25F113DD6.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css');

$topnavbar-height: 50px;

$color-dark:#23242b;
$color-white:#ffffff;


html, body {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Arial';
    font-size: 12px;
    background: #f4f6f9;
    color: $color-dark;
    line-height: 1.5;
    overflow-y: hidden;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    color: #244566;
    margin: 0;
    padding: 0;
}

h2,
.ms-rtestate-field h2 {
    font-size: 20px;
    color: $color-dark;
    margin: 30px 0 25px 0;
    font-weight: normal;
}

h3,
.ms-rtestate-field h3 {
    font-size: 16px;
    color: $color-dark;
    margin: 24px 0 16px 0;
    font-weight: normal;
}

h4,
.ms-rtestate-field h4 {
    font-size: 14px;
    color: $color-dark;
    margin: 20px 0;
    font-weight: normal;
}

//h5 { }
//h6 { }

nav.navbar {
  background: $color-dark;
  height: $topnavbar-height;
}

.navbar-item.brand-text {
  font-weight: 300;
}

.navbar-item, .navbar-link {
  font-size: 14px;
  font-weight: 700;
}

.content-columns {
  height: 100%;
  overflow-y: hidden;
}

.menu,
.main-container {
  height: 100%;
  overflow-y: scroll;
}

.main-container {
  background-color: #ffffff;
  padding: 30px;
}

.menu {
	background-color: #dbdfe8;
}

.menu-section {
  font-size: 14px; 
  color: #000000;
  background:#c0c5d2;
  font-weight: 500;
  padding: 0.7em;
}

.menu-item,   
.menu-item a {
  width: 100%;
}

.menu-item a {  
  font-size: 14px; 
  padding: 0.7em 1.4em; 
  display: block;
  color:#000000 ;  
}

.menu-item a.is-active {
  background-color: #277BB4; 
  color:$color-white;  
}

.menu-item a.is-active::before {
  content: ">";   
}

.menu-item a:hover {
  background-color: $color-white; 
  text-decoration: underline; 
  color:$color-dark ;
}

